/* Welcome to WebFontSpecimen
 * Based on Nice Web Type's tool by the same name
 * http://webfontspecimen.com/ */

// Imports -----------------------------------*/
@import "compass/css3/font-face";


//
// Web Font Specimen Usage:
// ========================
// 
// 1. Add your typeface(s) to your specified "fonts" folder.
//    - This is specified as "fonts_dir" in your "config.rb" file.
//    - Or link to fonts from google, typkit, or other services
// 
// 2. Rename this file:
//    - For single specimens simply remove the "_" prefix
//    - For multiple specimens duplicate and rename for each font
// 
// 3. Include your font below
// 
// 4. Make adjustments to "specimen.html"
//    - For multiple specimens duplicate and rename for each font
//      being sure to change the stylesheet link as needed.
//    - Search for and replace "{FONT NAME}" with your font name
//
// 5. Enjoy!
//


// Font Type ---------------------------------*/
$font-type: serif;

/* Standard ----------------------------------*/
$font-face: "Name Your Font";
@include font-face(
  $font-face, 
  font-files(
    "type_file.woff", woff, 
    "type_file.ttf", truetype,
    "type_file.svg#Type-Name", svg
  ), 
  "type_file.eot"
);

$font-stack: $font-face, $font-type;

// Import WebFontSpecimen -------------------------------------------*/
// Leave this below your font settings
@import "webfontspecimen";