/* Welcome to WebFontSpecimen
 * Based on Nice Web Type's tool by the same name
 * http://webfontspecimen.com/ */

// Imports -----------------------------------*/
@import "compass/css3/font-face";


//
// Web Font Specimen Usage:
// ========================
// 
//  1. Add your typeface(s) to your specified "fonts" folder.
//     - This is specified as "fonts_dir" in your "config.rb" file.
//     - Or link to fonts from google, typekit, or other services
//
//  2. For multiple specimens
//     - Duplicate this file
//     - add @import "_type_specimen_NEW_NUMBER.scss"; for each file to   
//       specimen.scss 
//
//  3. Add your font name and file path to "$font-name" and "$font-file-name"
//
//  4. Make adjustments to "specimen.html"
//     - For multiple specimens duplicate and rename for each font
//       being sure to change the stylesheet link as needed.
//
//  5. Enjoy!
//


// Font Type ---------------------------------*/
$font-type: serif;

/* Standard ----------------------------------*/
// Font Name i.e. "DroidSerifRegular"
$font-name: "Name Your Font";
// File path minus extension i.e "DroidSerif/DroidSerif-Regular-webfont"
$font-file-name: "type_file";
$font-weight: normal !default;
$font-style: normal !default;

@include font-face(
  $font-name, 
  font-files(
    "#{$font-file-name}.woff", woff, 
    "#{$font-file-name}.ttf", truetype,
    "#{$font-file-name}.svg##{$font-name}", svg
  ), 
  "#{$font-file-name}.eot",
  $font-weight, 
  $font-style
);

$font-stack: $font-name, $font-type;

// Import WebFontSpecimen -------------------------------------------*/
// Leave this below your font settings
@import "webfontspecimen";