<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!-- 
  
  Using Web Font Specimen =======================================================
  
  
  1. Add your typeface(s) to your specified "fonts" folder.
     - This is specified as "fonts_dir" in your "config.rb" file.

  2. Rename the "_specimen" sass file:
     - For single specimens simply remove the "_" prefix
     - For multiple specimens duplicate and rename for each font

  3. Include each face of your font in the proided "font-face" mixins
     Or comment out any faces that you aren't using.

  4. Make adjustments to this file
     - For multiple specimens duplicate and rename for each font
       being sure to change the stylesheet link as needed.
     - Search for and replace "{FONT NAME}" with your font name
     
  5. Enjoy!
     
  ==============================================================================
  
  -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>{FONT NAME} - Web Font Specimen</title>
  <link rel="stylesheet" href="css/specimen.css" type="text/css" media="screen" charset="utf-8">

</head>


<body>
<div id="header" class="container_16 clearfix">


<!-- NAME OF TYPEFACE -->
<div class="grid_16">
	<h1>{FONT NAME}</h1>
</div>


<!-- HEADINGS, LISTS, EMPHASIS -->
<div class="grid_8">
	<h2>Headings, lists, and emphasis</h2>
	<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<h3>Lorem ipsum <em>dolor</em> sit <strong>amet</strong></h3>
	<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<ul>
	  	<li>Duis aute irure dolor in reprehenderit</li>
	  	<li>in <em>voluptate velit esse cillum</em> dolore eu fugiat nulla pariatur</li>
	  	<li>Excepteur sint occaecat cupidatat non proident</li>
	  	<li>sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	</ul>
	<ol>
	  	<li>Duis aute irure dolor in reprehenderit</li>
	  	<li>in <em>voluptate velit esse cillum</em> dolore eu fugiat nulla pariatur</li>
	  	<li>Excepteur sint occaecat cupidatat non proident</li>
	  	<li>sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	</ol>
	<h4>Consectetur <em>adipisicing</em> elit <strong>voluptate</strong></h4>
	<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="dropcap">The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its</p>
	<p><em>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</em></p>
	<h5>Sed do <em>eiusmod</em> tempor <strong>incididunt</strong></h5>
	<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div>


<!-- BODY SIZE COMPARISON -->
<div class="grid_8">
	<h2>Body size comparison <span>&middot; {FONT NAME} and Verdana</span></h2>
	<p class="char-compare">
		<span class="typeface1">a</span><span class="typeface2">a</span>
		<span class="typeface1">b</span><span class="typeface2">b</span>
		<span class="typeface1">c</span><span class="typeface2">c</span><br />
		<span class="typeface1">e</span><span class="typeface2">e</span>
		<span class="typeface1">f</span><span class="typeface2">f</span>
		<span class="typeface1">g</span><span class="typeface2">g</span><br />
		<span class="typeface1">n</span><span class="typeface2">n</span>
		<span class="typeface1">o</span><span class="typeface2">o</span>
		<span class="typeface1">t</span><span class="typeface2">t</span><br />
		<span class="typeface1">A</span><span class="typeface2">A</span>
		<span class="typeface1">O</span><span class="typeface2">O</span>
		<span class="typeface1">R</span><span class="typeface2">R</span>
	</p>
</div>


<!-- LEADING -->
<div class="grid_8">
	<h2>Leading <span>&#8211; CSS font-size/line-height (px)</span></h2>
	<p class="l-less"><span>13/16</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="l-mid"><span>13/18</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="l-more"><span>13/21</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="l-most"><span>13/24</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div><div class="clearfix"></div>
</div><!-- end .container-16 -->


<!-- ALPHABET -->
<div class="dim">
<div class="container_16 clearfix">
<div class="grid_16 center">
	<h2>&middot; 42px &middot;</h2>
	<p class="s42">The best kind of originality is that which comes after a sound apprenticeship, that which shall</p>
	<p class="s42"><em>The best kind of originality is that which comes after a sound apprenticeship, that which shall</em></p>
	<p class="s42 upp ls">abcdefghijklmnopqrstuvwxyz</p>
	<p class="s42">abcdefghijklmnopqrstuvwxyz</p>
	<p class="s42 ls">$ &amp; &sect; 1234567890-.,:;&#8212;&#8220;&#8221;?!</p>
</div>
</div><!-- end .container_16 -->
</div><!-- end .dim -->


<!-- MEASURE -->
<div class="container_16 clearfix">
<div class="grid_16">
	<h2>Measure <span>&#8211; CSS font-size/line-height &times; width (px)</span></h2>
	<p class="m-widest"><span>13/18 &times; 900</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its</p>
	<p class="m-wide"><span>13/18 &times; 700</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its</p>
</div>
<div class="grid_9">
	<p class="m-mid"><span>13/18 &times; 450</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="m-narrow"><span>13/18 &times; 300</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div>
<div class="grid_7 small">
	<p class="m-mid"><span>11/14 &times; 350</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="m-narrow"><span>11/14 &times; 250</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="m-mini"><span>9/13 &times; 200</span> The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div>


<!-- SIZE -->
<div class="grid_16">
	<h2>Size <span>&#8211; CSS font-size (px)</span></h2>
	<p class="s s36"><span>36</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s30"><span>30</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s24"><span>24</span> Pack my box with five dozen liquor jugs.</p>
</div><div class="clearfix"></div>
<div class="grid_10">
	<p class="s s21"><span>21</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s18"><span>18</span> Pack my box with five dozen liquor jugs.</p>
</div>
<div class="grid_6 upp">
	<p class="s s9"><span>9</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s10"><span>10</span> Pack my box with five dozen liquor jugs.</p>
</div><div class="clearfix"></div>
<div class="grid_8">
	<p class="s s16"><span>16</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s14"><span>14</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s13"><span>13</span> Pack my box with five dozen liquor jugs.</p>
</div>
<div class="grid_8 upp">
	<p class="s s11"><span>11</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s12"><span>12</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s13"><span>13</span> Pack my box with five dozen liquor jugs.</p>
</div><div class="clearfix"></div>
<div class="grid_6">
	<p class="s s12"><span>12</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s11"><span>11</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s10"><span>10</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s9"><span>9</span> Pack my box with five dozen liquor jugs.</p>
</div>
<div class="grid_10 upp">
	<p class="s s14"><span>14</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s16"><span>16</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s18"><span>18</span> Pack my box with five dozen liquor jugs.</p>
</div><div class="clearfix"></div>
<div class="grid_16 upp">
	<p class="s s21"><span>21</span> Pack my box with five dozen liquor jugs.</p>
	<p class="s s24"><span>24</span> Pack my box with five dozen liquor jugs.</p>
</div>


<!-- GRAYSCALE AND COLOR ON WHITE -->
<div class="grid_8">
	<h2>Grayscale <span>&#8211; CSS color (shorthand hexadecimal)</span></h2>
	<p class="c000"><span>#000</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c333"><span>#333</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c666"><span>#666</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c999"><span>#999</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="cCCC"><span>#CCC</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div>
<div class="grid_8">
	<div class="c000-fff">
		<h2>Color <span>&#8211; CSS color (shorthand hexadecimal)</span></h2>
		<p><span>#000</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
	<div class="cf00-fff">
		<p><span>#F00</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
	<div class="c0ff-fff">
		<p><span>#0FF</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
</div><!-- end .container_16 -->


<!-- GRAYSCALE AND COLOR ON BLACK -->
<div class="dark">
<div class="container_16 clearfix">
<div class="grid_8">
	<h2>Grayscale <span>&#8211; CSS color (shorthand hexadecimal)</span></h2>
	<p class="cfff"><span>#FFF</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="cCCC"><span>#CCC</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c999"><span>#999</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c666"><span>#666</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	<p class="c333"><span>#333</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
</div>
<div class="grid_8">
	<div class="cfff-000">
		<h2>Color <span>&#8211; CSS color (shorthand hexadecimal)</span></h2>
		<p><span>#FFF</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
	<div class="c0ff-000">
		<p><span>#0FF</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
	<div class="cf00-000">
		<p><span>#F00</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
</div><!-- end .container_16 -->
</div><!-- end .dark -->


<!-- BLACK AND WHITE ON COLOR -->
<div class="container_16 clearfix">
<div class="grid_8">
	<div class="c cfff-f00">
		<h2>#FFF on #F00</h2>
		<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
<div class="grid_8">
	<div class="c c000-f00">
		<h2>#000 on #0FF</h2>
		<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
<div class="grid_8">
	<div class="c cfff-0ff">
		<h2>#FFF on #0FF</h2>
		<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
<div class="grid_8">
	<div class="c c000-0ff">
		<h2>#000 on #0FF</h2>
		<p>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
	</div>
</div>
</div><!-- end .container_16 -->


<!-- ABOUT -->
<div id="footer" class="container_12">
<div class="grid_6 suffix_6">
	<p>This web font specimen is brought to you by <a href="http://nicewebtype.com/">Nice Web Type</a>.<br />
	<a href="http://webfontspecimen.com/">Grab a copy and test your type</a>. Licensed via <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons</a>.</p>
</div>
</div><!-- end #footer -->

</body>
</html>